:root { /* Colour palette for the website */
    --lightBlue: #D4EBF8;
    --darkBlue: #1F509A;
    --darkerBlue: #0A3981;
    --orange: #FADA7A;
    --darkOrange: #f0be28;
}

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#main {
    height: 18vh;
    width: 100%;
    padding: 0px;

    color: var(--darkerBlue);
    border-bottom: 50px solid #0a3a81d3;

    text-align: center;
    font-size: large;
    margin: 0;
    line-height: 10px;
    padding: 40vh 0;
}

#background {
    text-align: left;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

#startButton {
    width: 150px;
    height: 40px;

    background-color: #fada7a69;
    border: 2px solid #f0be28b9;
    color: var(--darkerBlue);

    font-size: 20px;
    border-radius: 10px;
    transition: 0.15s;
}

#startButton:hover {
    font-size: 22px;
    background-color: #fada7ad7;
    border: 2px solid var(--darkOrange);
}

#under {
    margin: auto;
    line-height: 25px;
    padding: 80px 100px;
    width: 45%;
    background-color: #d4ebf877;
    border-radius: 5vw;
    font-size: 16px;
}

#underBack {
    background-color: #d4ebf825;
    border-radius: 15vw;
}

#under ul {
    padding: 0px 0px 0px 280px;
}

#contents {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    width: 100%;
}

#contents a {
    cursor: default;
    color: black;
    text-decoration:none;

    text-align: center;
    width: 30%;
    height: 150px;
    background-color: #fada7a69;
    border: 4px solid #f0be28b9;
    border-radius: 10px;
    transition: 0.15s;

    line-height: 22px;
    font-size: 15px;
}
#contents a:hover {
    background-color: var(--orange);
    border: 4px solid var(--darkOrange);
    font-size: 16px;
    font-weight: bold;
}

.centre {
    text-align: center;
}
.italics {
    font-style: italic;
}

.link {
    cursor: default;
    color: black;
    text-decoration:none;
    transition: 0.3s;
}
.link:hover {
    font-weight: bold;
    font-size: 17px;
}